<tr class="bordered">
    <th class="text-nowrap admincore-modules bordered" scope="row">Admin Core Modules 1-3</th>
    {{#admin_core_enrolment}}
        {{#countdata}}
            <td nowrap="nowrap" style="text-align:right;">{{usercount}}</td>
        {{/countdata}}
        <td class="total-col" nowrap="nowrap" style="text-align:right;font-weight:bold" width="8%">{{total}}</td>
        <td class="increase-col" nowrap="nowrap" style="text-align:right;font-weight:bold" width="8%">{{increase}}</td>
        <td class="bordered table-active" nowrap="nowrap" style="text-align:right;" width="12%">{{previous}}</td>
    {{/admin_core_enrolment}}
</tr>